## Module:      ToSqlite
## Loaded by:   Broker
## Not Commonly Used! : DEPRECATED
# SQLite database export.
#define module {
#    module_name     ToSqlite
#    module_type     sqlitelog
# Shinken 1.4 configuration
# path /usr/local/shinken/var/livelogs.db
# Shinken 2.0 configuration
# path /var/log/shinken/sqlitelog.db
#}
